.idea/.name
.idea/camersRoom.iml
.idea/deployment.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLinters/jslint.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
desc.txt
